<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.lingview.chat.mapper.ControlsMapper">

    <resultMap type="xyz.lingview.chat.domain.Login" id="Login">
        <result property="username" column="username" />
        <result property="password" column="password" />
    </resultMap>

    <select id="selectUserStatus" parameterType="xyz.lingview.chat.domain.Login" resultType="int">
        SELECT status
        FROM user_information
        WHERE username = #{username}
    </select>

    <select id="loginUser" parameterType="xyz.lingview.chat.domain.Login" resultMap="Login">
        SELECT username, password
        FROM user_information
        WHERE username = #{username}
    </select>
<!--    <select id="loginUser" parameterType="xyz.lingview.happypoem.domain.HappyPoemLogin" resultMap="HappyPoemLogin">-->
<!--        SELECT username, password, token-->
<!--        FROM users-->
<!--        WHERE username = #{username}-->
<!--    </select>-->

<!--    <update id="updateToken" parameterType="map">-->
<!--        UPDATE users-->
<!--        SET token = #{token}-->
<!--        WHERE username = #{username}-->
<!--    </update>-->
</mapper>
